---
import { ViewTransitions } from "astro:transitions"
import Navigation from "../components/navigation.svelte"
import "../styles/index.css"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<ViewTransitions />
		<script defer>
			const Lazy = (target) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						let elementName = entry.target.nodeName.toLocaleLowerCase()
						if (entry.isIntersecting && elementName === "img") {
							const img = entry.target
							if (!img.getAttribute("data-src")) return
							img.setAttribute("src", img.getAttribute("data-src"))
							img.classList.add("fade")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}
			document.addEventListener("astro:after-swap", () => {
				document.querySelectorAll("img").forEach(Lazy)
			})
			document.addEventListener("astro:page-load", () => {
				document.querySelectorAll("img").forEach(Lazy)
			})
		</script>
	</head>
	<body class="text-white font-sans bg-neutral-800 w-full">
		<Navigation />
		<main class="w-full max-w-[70em]">
			<slot />
		</main>
	</body>
</html>
